@font-face {
  font-family: "lato";
  font-weight: 400;
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 200;
  src: url("/assets/fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 100;
  src: url("/assets/fonts/Lato-Hairline.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 600;
  src: url("/assets/fonts/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/Lato-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/Lato-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 100;
  font-style: italic;
  src: url("/assets/fonts/Lato-HairlineItalic.ttf") format("truetype"); }

@font-face {
  font-family: "lato";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/Lato-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 400;
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 200;
  src: url("/assets/fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 600;
  src: url("/assets/fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/OpenSans-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/OpenSans-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/OpenSans-BoldItalic.ttf") format("truetype"); }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, span {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

.btn-primary, .btn-info {
  background-color: #3498db;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  transition: 0.25s; }

.btn-info {
  background-color: white;
  color: #34495e; }

.btn-info:hover {
  background-color: #ecf0f1;
  color: #2c3e50; }

.btn-primary:hover {
  background-color: #2980b9; }

.btn-large {
  font-size: 28px; }

.btn-shadow-1 {
  box-shadow: 0px 0px 10px #999999 !important; }

body {
  background-color: #e4e4e4; }

.title {
  text-align: center;
  margin-top: 50px; }
  .title h1 {
    font-family: 'lato', sans-serif;
    font-weight: 200;
    color: #34495e; }
    .title h1 img {
      margin: 15px; }
  .title h2 {
    font-family: 'lato', sans-serif;
    font-weight: 200;
    color: #34495e;
    font-size: 30px;
    line-height: 50px; }
    .title h2 img {
      width: 50px;
      position: relative;
      top: -2px;
      margin-right: 10px; }

.todo-row, .todo-row-small {
  color: white;
  background-color: #f1c40f;
  padding: 25px; }
  .todo-row h2, .todo-row-small h2 {
    font-family: 'lato', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 10px; }
    .todo-row h2 img, .todo-row-small h2 img {
      position: relative;
      top: -2px;
      padding-right: 20px; }
  .todo-row h3#email-blue, .todo-row-small h3#email-blue {
    font-family: 'lato', sans-serif;
    font-weight: 200;
    color: #34495e;
    font-size: 48px;
    margin-top: -10px;
    padding-left: 73px;
    margin-bottom: 15px; }
  .todo-row p, .todo-row-small p {
    font-family: 'lato', sans-serif;
    font-size: 14px;
    line-height: 20px; }
  .todo-row .btn-container, .todo-row-small .btn-container {
    margin-top: 15px; }

#setup .btn-container {
  margin-top: 30px; }

.todo-row-small {
  padding: 5px; }
  .todo-row-small h2 {
    font-size: 20px;
    padding-left: 10px; }
    .todo-row-small h2 img {
      padding-right: 0px;
      top: -6px; }

.todo-row-2 {
  background-color: #f39c12; }

.onboarding-body {
  margin-top: 20px; }

.onboarding-title {
  font-family: 'lato', sans-serif;
  background-color: #f1c40f;
  padding: 15px 0; }
  .onboarding-title h2 {
    font-size: 20px;
    padding-left: 30px;
    color: white;
    margin: 0; }

.onboarding-main-main {
  background-color: #ffffff;
  padding: 30px; }
  .onboarding-main-main p {
    font-family: 'open-sans', sans-serif;
    color: #34495e;
    font-size: 14px;
    line-height: 24px; }
  .onboarding-main-main h3 {
    font-family: 'lato', sans-serif;
    font-weight: 200;
    font-size: 36px;
    text-align: center;
    color: #34495e;
    padding: 50px 0; }
  .onboarding-main-main h3.no-btm-margin {
    padding: 50px 0 0; }
  .onboarding-main-main .btn-container {
    margin-top: 30px;
    margin-bottom: 20px; }

.info-snipplet {
  text-align: center; }
  .info-snipplet h4 {
    color: #34495e;
    font-size: 24px;
    font-family: 'lato', sans-serif;
    font-weight: 200; }
  .info-snipplet p {
    font-family: 'open-sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #34495e;
    line-height: 24px; }

.overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  position: absolute; }
  .overlay .onboarding-main {
    width: 600px;
    z-index: 1;
    position: fixed;
    left: 400px;
    top: 200px; }
  .overlay .scrim {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.17;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0; }
  .overlay .overlay-green .onboarding-title {
    background-color: #1abc9c; }
  .overlay .overlay-green .btn-primary {
    background-color: #16a085; }
  .overlay .overlay-red .onboarding-title {
    background-color: #e74c3c; }
  .overlay .overlay-red .btn-primary {
    background-color: #c0392b; }

.onboarding-main-2 .onboarding-title {
  background-color: #f39c12; }

.onboarding-main-3 .onboarding-title {
  background-color: #e67e22; }

#google-sign-in-btn {
  position: relative; }
  #google-sign-in-btn img {
    position: absolute;
    left: 15px;
    height: 40px; }

#register-btn-container {
  margin-top: 100px;
  margin-bottom: 50px; }
  #register-btn-container h4 {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 200;
    color: #34495e;
    font-size: 18px; }
  #register-btn-container .btn {
    margin-bottom: 20px; }

.text-link {
  text-align: left;
  margin-top: 15px; }
  .text-link a {
    border-bottom: 1px solid #3498db;
    color: #3498db;
    transition: 0.25s; }
  .text-link a:hover {
    text-decoration: none;
    color: #2980b9; }

#redirecting-to-paypal {
  margin-top: 100px; }
  #redirecting-to-paypal .btn-container {
    margin-top: 50px; }
    #redirecting-to-paypal .btn-container .text-link {
      text-align: right; }

#syncing {
  margin-top: 100px; }
  #syncing .onboarding-main-main {
    text-align: center; }
  #syncing img {
    margin-top: 100px; }
  #syncing .subtext {
    color: #34495e;
    font-weight: 200;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 100px; }

.form-block {
  margin-bottom: 30px; }
  .form-block input[type=text], .form-block input[type=password], .form-block input[type=email] {
    display: block;
    border: 0;
    border-bottom: 1px solid #34495e;
    font-family: 'lato', sans-serif;
    color: #34495e;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 0;
    width: 100%; }
  .form-block label {
    font-family: 'lato', sans-serif;
    color: #34495e;
    font-size: 24px;
    font-weight: 200; }
  .form-block input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid #34495e;
    background: none;
    border-radius: 0;
    position: relative;
    bottom: -1px;
    margin-right: 15px; }

.text-center {
  text-align: center; }

#select-payment-method {
  font-weight: 400;
  margin-bottom: 0; }

.todo-row-body {
  background-color: white;
  padding: 30px;
  color: #34495e;
  font-size: 18px;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  line-height: 24px;
  height: 350px; }

.pricing-title {
  padding: 20px; }
  .pricing-title h2 {
    padding: 0 !important;
    margin: 0; }

.terms-and-conditions {
  margin-top: 20px; }
  .terms-and-conditions small {
    font-size: 15px;
    color: #7f8c8d; }

.pricing-body {
  height: 350px;
  text-align: center; }
  .pricing-body h3 {
    color: #e67e22;
    font-weight: 400;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0; }
  .pricing-body p {
    color: #e67e22;
    font-weight: 400;
    font-family: 'lato', sans-serif;
    font-size: 16px; }
  .pricing-body hr {
    border-color: #34495e; }
  .pricing-body .btn-container {
    margin-top: 60px; }

.onboarding-body-img {
  margin-top: 50px;
  text-align: center; }
  .onboarding-body-img h2 {
    text-transform: uppercase;
    font-family: 'lato', sans-serif;
    color: #34495e;
    font-size: 20px;
    font-weight: 200; }

#bypass-mda {
  margin-top: 100px; }
  #bypass-mda .onboarding-title {
    background-color: #1abc9c; }
  #bypass-mda .btn {
    background-color: #16a085; }
  #bypass-mda .onboarding-body-img {
    margin-top: 0px; }

#options-preferences {
  margin-top: 50px; }

.account-preferences {
  margin-top: 50px; }

.pref-checkbox h2#checkbox-title {
  font-family: 'lato', sans-serif;
  font-weight: 200;
  color: #34495e;
  font-size: 36px; }

.pref-checkbox #data-compression-checkbox-container {
  text-align: center; }
  .pref-checkbox #data-compression-checkbox-container img {
    margin-top: 20px; }

.pref-checkbox p.lead {
  font-family: 'lato', sans-serif;
  font-weight: 200;
  color: #34495e;
  font-size: 18px; }

#account .left {
  text-align: right;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  color: #34495e;
  font-size: 24px; }

#account .right p {
  border-bottom: 1px solid #34495e;
  font-family: 'lato', sans-serif;
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 10px; }

#account .row {
  margin-bottom: 15px; }

#options-container {
  padding-bottom: 50px; }

#help img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px; }

.text-right {
  text-align: right; }

body#white {
  background-color: white; }

.clickable {
  cursor: pointer; }

.not-highlightable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hidden {
  display: none; }

ul.parsley-errors-list li {
  font-family: 'open-sans', sans-serif;
  color: #c0392b;
  padding: 10px 0; }

#loading-overlay {
  display: none; }

.onboarding-main-green .onboarding-title {
  background-color: #1abc9c; }

.onboarding-main-red .onboarding-title {
  background-color: #c0392b; }

.float-right {
  float: right; }

#payment-overlay, #payment-success-overlay {
  display: none; }

.opt-checkbox {
  margin-top: 20px; }

.yellow-header-banner {
  padding: 50px 0;
  background-color: #f1c40f; }

#better-gom h1 {
  margin-top: 0;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  color: #34495e;
  margin-bottom: 15px;
  font-size: 55px; }

#better-gom p.lead {
  font-family: 'lato', sans-serif;
  font-weight: 300 !important;
  color: #34495e;
  margin-bottom: 0; }

.row-fair {
  background-color: #f1f1f1;
  padding: 10px 0 50px; }

.row-normal {
  padding: 10px 0 50px; }

.feature-row h2 {
  font-family: 'lato', sans-serif;
  font-weight: 200;
  font-size: 48px;
  color: #34495e;
  margin: 40px 0 60px; }

.feature-row p {
  font-family: 'open-sans', sans-serif;
  font-size: 18px;
  line-height: 30px; }

.feature-row .feature-icon {
  max-height: 150px;
  max-width: 100%; }

.feature-row blockquote {
  font-family: 'lato', sans-serif;
  font-style: italic;
  font-size: 24px;
  line-height: 30px;
  color: #2c3e50; }

.quote {
  margin-top: 100px; }

#onboarding-btn {
  margin-top: 50px; }

.small-price {
  font-family: 'lato', sans-serif; }
  .small-price .price-slot {
    margin: 0 15px;
    display: inline-block; }
  .small-price .top {
    font-size: 18px;
    font-weight: 400;
    color: #34495e; }
  .small-price .btm {
    font-size: 36px;
    font-weight: 300;
    color: #34495e; }

.big-price {
  margin-top: 50px;
  font-family: 'lato', sans-serif; }
  .big-price .top {
    font-size: 18px;
    font-weight: 400;
    color: #34495e; }
  .big-price .btm {
    font-size: 60px;
    font-weight: 300;
    color: #34495e; }

.uppercase {
  text-transform: uppercase; }
